<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="header">
		<header class='header'>
			<div><img src="logo.png"/></div>
			<nav class='navbar'>
            	<a th:href="@{/}" id='active'>Trang chủ</a>
            	<a th:href="@{/about}">Giới thiệu</a>
            	<a th:href="@{/studentList}">Danh sách sinh viên</a>
            	<a th:href="@{/addNew}">Thêm sinh viên mới</a>
        	</nav>
		</header>
	</div>
	<div th:fragment="sidebar">
		<div class="sidebar">
			<img src="picture1.png"/>
		</div>
	</div>
	<div th:fragment="footer" class="footer">
		<span>@ Trần Doãn Anh</span>
	</div>
</body>
</html>