<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="style.css" rel="stylesheet"/>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<div th:replace="layout :: header"></div>
	<div class="body">
		<div class="content">
			<section class='home' id='home'>
	        <div class='home-content'>
	            <h1>Hi, It's <span>Anh</span></h1>
	            <h3 class='text-animation'>I'm an <span>IT Student</span></h3>
	            <p>I'm studying at Information Technology falcuty in Nha Trang University. 
	            </p>
	
	            <div class='social-icons'>
	                <a href='#'><i class='bx bxl-linkedin' ></i></a>
	                <a href='#'><i class='bx bxl-github' ></i></a>
	                <a href='#'><i class='bx bxl-instagram-alt'></i></a>
	                <a href='#'><i class='bx bxl-facebook-circle'></i></a>
	            </div>
	
	            <div class='btn-group'>
	                <a href='#' class='btn'>More</a>
	                <a href='#contact' class='btn'>Contact</a>
	            </div>
	        </div>
	        <div class='home-img'>
	            <img src='056204011267.jpg' alt=''>
	        </div>
    </section>
		</div>
		<div th:replace="layout :: sidebar"></div>
	</div>
	<div th:replace="layout :: footer"></div>
</body>
</html>